//*****************************************************
//*   Variables
//*****************************************************

//*Colors
$primary-color:#272727;
$secondary-color:#19A7AA;
$text-color:#eee;

//*Font 

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//* Path Variables

$main-bgImg-path: "../assets/baslik.png";